# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~
.clinerules

# Logs
*.log
logs/

# Environment
.env
.env.local
QUICK-DEPLOY.md
DEPLOYMENT-FRONTEND.md
SAAS_PLAN.md
/docs/notes.txt
/docs/stripe-credentials.txt

# Notes
notes.md

# Build artifacts
dist/
build/
target/

# Dependencies
node_modules/
