spring:
  application:
    name: booking-api
  
  profiles:
    active: dev

  datasource:
    url: jdbc:postgresql://localhost:5433/booking_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  
  flyway:
    enabled: true

server:
  port: 8080
  error:
    include-message: always

logging:
  level:
    com.booking.api: DEBUG
    org.springframework.security: INFO