spring:
  application:
    name: booking-api
  
  profiles:
    active: dev

  datasource:
    url: jdbc:postgresql://localhost:5433/booking_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  
  flyway:
    enabled: true

server:
  port: 8080
  error:
    include-message: always

# JWT Configuration
jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 3600000  # 1 heure en millisecondes
  refresh-expiration: 604800000  # 7 jours en millisecondes

logging:
  level:
    com.booking.api: DEBUG
    org.springframework.security: INFO